.jtronheaderone {
  position: relative;
  top: -35px;
  left: 15px;
}

.jtronpara {
  position: relative;
  top: -30px;
  left: 15px;
}

.rgorepic {
  max-width: 150px;
  height: auto;
  float: left;
  position: relative;
  top: -30px;
}

.primary-body-col {
  border-radius: 15px;
  border-style: solid;
  border-color: silver;
  padding: 15px;
  margin-top: 15px;
}
